# Server Configuration
PORT=9000
NODE_ENV=development

# Database Configuration (MySQL)
DB_HOST=68.178.145.103
DB_USER=rahilthakur
DB_PASSWORD=Alliedproducts@28
DB_DATABASE=aspadmin
DB_PORT=3306

# Authentication / Security
JWT_SECRET=your_super_secret_jwt_key_allied_scientific_2026
JWT_EXPIRES_IN=5d

# CORS Allowed Origins (Comma separated)
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://delivery.alliedscientificproducts.com,https://delivery-ch0u.onrender.com

# Email / SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_MAIL=delivery.alliedscientific@gmail.com
SMTP_PASSWORD=ouxpkietzzjkddez
SMTP_SERVICE=gmail
